/* Estilos generales */
body {
  font-family: sans-serif;
  margin: 0px;
  background: #101826;
  transition: background-color 0.3s, color 0.3s;
}

.App {
  min-height: 100vh;
  padding: 20px;
}



.Titulo h1 {
  padding: 40px 50px;
  text-align: left 100px;
  margin: 0px;
  flex-wrap: wrap;
  max-width: auto;
  max-height: auto;
  background: #1f2836 ;
  color: #61a3f5;
  margin-bottom: 20px;
}

